{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/client",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/import-order"
    ],
    "rules": {
        "valid-jsdoc": 0,
        "no-console": ["error", {"allow": ["warn", "error"]}]
    },
    "root": true,
    "overrides": [{
        "files": ["*.ts", "*.tsx"],
        "parserOptions": {
            "project": ["./tsconfig.json"]
        }
    }]
}
