{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/client",
        "@gravity-ui/eslint-config/prettier"
    ],
    "rules": {
        "valid-jsdoc": 0
    },
    "root": true
}
