node_modules
.env.local
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
dist
build
compiled
.awcache
.rpt2_cache
/reports/
/.vitest-attachments/
/test-results/
/playwright-report/
/blob-report/
/tests/playwright/.cache/
